
<form [formGroup]="testForm" class="test-container" (ngSubmit)="onSubmit()">  
  <div>
  <mat-label for="name">Name: </mat-label>
  <mat-form-field class="example-form-field" >
    <input matInput id="name" type="text" formControlName="name">
  </mat-form-field>
</div><br>
<div> 
  <mat-label>Dob:  </mat-label>
  <mat-form-field class="example-form-field" >
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker> 
  </mat-form-field>

</div><br>
<mat-label>Gender:  </mat-label>
<mat-radio-group>
<mat-radio-button value="male"> Male  </mat-radio-button>
<mat-radio-button value="female"> Female </mat-radio-button>
</mat-radio-group><br><br>

<div>
  <mat-form-field appearance="fill">
  <mat-label>Choose one</mat-label>
  <mat-autocomplete formControlName="dept_code" placeholder="Department" #auto="matAutocomplete">
  <!-- <mat-select formControlName="dept_code" placeholder="Department"> -->
  <mat-option *ngFor="let dept of department" [value]="dept.dept_code">
    {{dept.dept_name }} 
  </mat-option>
</mat-autocomplete>
<!-- </mat-select> -->
</mat-form-field>
</div>

<!-- <mat-autocomplete formControlName="dept_code" placeholder="Department" #auto="matAutocomplete">
  <mat-option *ngFor="let option of options" [value]="option">
    {{option}}
  </mat-option>
</mat-autocomplete> -->
<br><br>
 <div class="example-button-row">
    <button mat-raised-button color="success" >
        Save
    </button>
    <button mat-raised-button color="primary" type="button" (click)="onclick()">
      reset
    </button>
    </div>
  </form>
  


