<form [formGroup]="serverForm" class="form-container" (ngSubmit)="onSubmit()" #scroll>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Server Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 80%;" >
            <mat-label>Server IP</mat-label>
            <input formControlName="server_ip" matInput placeholder="Server IP" >
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 80%;">
            <mat-label>Choose Department</mat-label>
            <mat-select formControlName="dept_code" placeholder="Department"
            >
            <mat-option *ngFor="let dept of department" [value]="dept.dept_code">
              {{dept.dept_name }}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>


        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 80%;">
            <mat-label>Choose Machine Type</mat-label>
            <mat-select formControlName="machine_type" placeholder="Machine Type"
            >
            <mat-option *ngFor="let i of machine" [value]="i.machine_type">
              {{i.machine_type }}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 80%;">
            <mat-label>Choose OS</mat-label>
            <mat-select formControlName="os" placeholder="Operating System" (selectionChange)="getVersion($event)">
            <mat-option *ngFor="let i of os_data" [value]="i.os" >
              {{i.os }}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>


        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 80%;">
            <mat-label>Choose Version</mat-label>
            <mat-select formControlName="version" placeholder="Version"
            >
            <mat-option *ngFor="let i of version_data" [value]="i.version" >
              {{i.version}}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>


        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 80%;" >
            <mat-label>RAM</mat-label>
            <input formControlName="ram" matInput placeholder="RAM" >
          </mat-form-field>
        </div>
      </div>

       <div class="row">

        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 80%;" >
            <mat-label>Disk Space</mat-label>
            <input formControlName="disk_space" matInput placeholder="Disk Space" >
          </mat-form-field>
      </div>


      <div class="col-md-4">
        <mat-form-field appearance="outline" style="width: 80%;" >
          <mat-label>Physical Core</mat-label>
          <input formControlName="physical_core" matInput placeholder="Physical Core" >
        </mat-form-field>
      </div>

          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 80%;">
              <mat-label>Choose Model</mat-label>
              <mat-select formControlName="model" placeholder="Model">
              <mat-option *ngFor="let i of model" [value]="i.model">
                {{i.model }}
              </mat-option>
            </mat-select>
            </mat-form-field>
          </div>

       </div>

       <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 80%;">
            <mat-label>VA done</mat-label>
            <mat-select formControlName="va" placeholder="VA done" (selectionChange)="onChange($event)">
              <mat-option>None</mat-option>
              <mat-option value="Y">Yes</mat-option>
              <mat-option value="N">No</mat-option>
          </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-4"  *ngIf="selected == 'Yes'">
          <mat-form-field appearance="outline" style="width: 80%;" >
            <mat-label>VA Score</mat-label>
            <input formControlName="va_score" matInput placeholder="VA Score" >
          </mat-form-field>
        </div>



       </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" style="margin-left: 40%;">Save</button>
    </mat-card-actions>
  </mat-card>
</form>


<mat-card class="mt-3">
  <mat-card-header>
      <mat-card-title>
          Server List
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field appearance="standard">
          <mat-label class="required">Filter</mat-label>
          <input matInput autocomplete="off" (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">
          <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
              <ng-container matColumnDef="sn">
                  <th mat-header-cell *matHeaderCellDef> # </th>
                  <td mat-cell *matCellDef="let row;let i=index"> {{i+1}} </td>
              </ng-container>

              <ng-container matColumnDef="server_ip">
                  <th mat-header-cell *matHeaderCellDef>Server IP</th>
                  <td mat-cell *matCellDef="let row"> {{row.server_ip}} </td>
              </ng-container>
              <ng-container matColumnDef="os">
                  <th mat-header-cell *matHeaderCellDef>OS</th>
                  <td mat-cell *matCellDef="let row"> {{row.os}} </td>
              </ng-container>
              <ng-container matColumnDef="machine_type">
                  <th mat-header-cell *matHeaderCellDef>Machine Type</th>
                  <td mat-cell *matCellDef="let row"> {{row.machine_type}} </td>
              </ng-container>

              <ng-container matColumnDef="ram">
                  <th mat-header-cell *matHeaderCellDef>RAM</th>
                  <td mat-cell *matCellDef="let row"> {{row.ram}} </td>
              </ng-container>

              <ng-container matColumnDef="disk_space">
                  <th mat-header-cell *matHeaderCellDef>Disk Space</th>
                  <td mat-cell *matCellDef="let row"> {{row.disk_space}} </td>
              </ng-container>

              <ng-container matColumnDef="physical_core">
                  <th mat-header-cell *matHeaderCellDef>Physical Core</th>
                  <td mat-cell *matCellDef="let row">{{row.physical_core}}</td>
              </ng-container>

              <ng-container matColumnDef="model">
                  <th mat-header-cell *matHeaderCellDef> Model </th>
                  <td mat-cell *matCellDef="let row"> {{row.model}} </td>
              </ng-container>

              <ng-container matColumnDef="va">
                <th mat-header-cell *matHeaderCellDef> VA </th>
                <td mat-cell *matCellDef="let row"> {{row.va}} </td>
            </ng-container>

            <ng-container matColumnDef="va_score">
              <th mat-header-cell *matHeaderCellDef> VA Score </th>
              <td mat-cell *matCellDef="let row"> {{row.va_score}} </td>
          </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row"><button mat-raised-button color="primary" (click)="onEdit(row.server_id)">Edit</button> </td>
                </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
              </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
  </mat-card-content>
</mat-card>
