<mat-nav-list>
  <!-- <div class="logo py-4">
    //<img src="./assets/logo.svg" alt="Company Logo" />
  </div> -->

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/user">
    <mat-icon>assignment_ind</mat-icon> Employee
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/department">
    <mat-icon>business</mat-icon> Department
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/application">
      <mat-icon>android</mat-icon> Application
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/database">
    <mat-icon>storage</mat-icon> Database
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/server">
    <mat-icon>cloud</mat-icon> Server
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/map-app-user">
    <mat-icon>add_box</mat-icon> Map-App-Emp
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/receive">
    <mat-icon>add_box</mat-icon> Stock Receive
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/issue">
    <mat-icon>add_box</mat-icon> Stock Issue
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/return">
    <mat-icon>add_box</mat-icon> Stock Return
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/emp">
    <mat-icon>add_box</mat-icon> Work Order Details
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/mapwo">
    <mat-icon>add_box</mat-icon> Map WorkOrder-Employee
  </a>
  <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a> -->
</mat-nav-list>
