<mat-nav-list>
  <!-- <div class="logo py-4">
    //<img src="./assets/logo.svg" alt="Company Logo" />
  </div> -->



  <div  *ngIf="role == '1'">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/admin">
      <mat-icon>home</mat-icon> Home
    </a>
    <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/user">
    <mat-icon>assignment_ind</mat-icon> Employee
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/department">
    <mat-icon>business</mat-icon> Department
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/application">
      <mat-icon>android</mat-icon> Application
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/database">
    <mat-icon>storage</mat-icon> Database
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/server">
    <mat-icon>cloud</mat-icon> Server
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/map-app-user">
    <mat-icon>add_box</mat-icon> Map-App-Emp
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/receive">
    <mat-icon>add_box</mat-icon> Stock Receive
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/issue">
    <mat-icon>add_box</mat-icon> Stock Issue
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/emp">
    <mat-icon>add_box</mat-icon> Work Order Details
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/mapwo">
    <mat-icon>add_box</mat-icon> Map WorkOrder-Employee
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/task">
    <mat-icon>add_box</mat-icon>Weekly Work Update
  </a>
  </div>
  <div  *ngIf="role == '2'">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/employee">
      <mat-icon>home</mat-icon> Home
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/task">
      <mat-icon>add_box</mat-icon>Weekly Work Update
    </a>
  </div>
  <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a> -->
</mat-nav-list>
