.example-button-row {
    display: table-cell;
    width: 490px;
  }
  .example-button-row .mat-button-base {
    margin: 1px 16px 16px 0;
  }
  .test-container{
      margin: 200px;
      margin-left: 400px;

  }
    
