<div style="padding-top: 10%;">
  <div class="card2 card border-8 px-4 py-3" style="height: 250px;">
<form  [formGroup]="loginForm" (ngSubmit)="login()" >

  <div class="form-group">
    <!-- <mat-form-field  appearance="fill">
      <mat-label>UserName</mat-label>
      <input matInput formControlName="username">
    </mat-form-field> -->
    <label for="username" style="color: rgb(13, 13, 85); font-size: 15px;">UserID</label>
    <input type="text" class="form-control" formControlName="userid" placeholder="Enter userid">
   </div>

   <div class="form-group" style="padding-top: 5%;">
      <!-- <mat-form-field  appearance="fill">
        <mat-label class="fw-semibold">Password</mat-label>
        <input matInput  type="password" class="form-control" formControlName="password">
      </mat-form-field> -->
      <label for="userpassword" style="color: rgb(13, 13, 85); font-size: 15px;">Password</label>
      <input type="password" class="form-control"  formControlName="password" placeholder="Enter password">
 </div>

 <div class="row align-items-center" style="padding-top: 5%;">
  <div class="col-6">
      <div class="text-end">
        <button type="submit" class="btn btn-primary b-btn">Log In</button>
      </div>
  </div>
 </div>
</form>
</div>
</div>

