.file-input {
    display: none;
  }
  pdf-viewer [_nghost-yme-c156] {
    position: revert !important;
  }
  
  pdf-viewer {
    position: revert !important;
  }

  .mat-header-cell {
    background: #2c3344f6;
    color: #f2f5f7;
    font-size: medium;
    //background: #2c3344;
  }

  table {
    width: 100%;
  }
  .example-container {
    height: 450px;
    max-width: 100%;
    overflow: auto;
  }
  