<form class="form-container" [formGroup]="receiveForm" (submit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Stock Information</mat-card-title>
    </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field" style="width: 80%;">
          <mat-label for="depts">Office</mat-label>
            <mat-select formControlName="dept_id">
              <mat-option *ngFor="let dept of department" [value]="dept.dept_code">
                {{dept.dept_name}}
              </mat-option>
          </mat-select>

        </mat-form-field>

      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field" style="width: 80%;">
          <mat-label for="hardware">Hardware</mat-label>
            <mat-select formControlName="hardware_id">
              <mat-option *ngFor="let h of hardwares" [value]="h.h_id" (click)="selectedHardware(h.h_id)">
                {{h.h_name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field" style="width: 80%;">
          <mat-label for="brands">Make</mat-label>
          <mat-select formControlName="make_model_id" >
            <mat-option *ngFor="let br of brands" [value]="br.brand_id" >
              {{br.brand_name}}
            </mat-option>
        </mat-select>
        </mat-form-field>
      </div>

  </div>
    <div class="row" *ngIf="h_id==5;">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field" style="width: 80%;">
          <mat-label for="cpu">CPU Serial number</mat-label>
          <input  formControlName="cpu_sno" matInput id="cpu" type="text">
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field" style="width: 80%;">
          <mat-label for="keyboard">Keyboard Serial Number</mat-label>
          <input formControlName="keyboard_sno" matInput id="keyboard" type="text">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field" style="width: 80%;">
          <mat-label for="mouse">Mouse Serial Number</mat-label>
          <input formControlName="mouse_sno" matInput id="mouse" type="text">
        </mat-form-field>
      </div>
      </div>
      <div class="row">
      
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field" style="width: 80%;">
          <mat-label for="monitor">Serial Number</mat-label>
          <input formControlName="monitor_sno" matInput id="monitor" type="text">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field" style="width: 80%;">
          <mat-label for="dates">Receive Date</mat-label>
          <input type="date" formControlName="received_date" matInput id="dates">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field" style="width: 80%;">
          <mat-label for="status">Status</mat-label>
            <mat-select formControlName="status_id">
              <mat-option *ngFor="let h of status" [value]="h.status_id">
                {{h.status_name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </div>

      <!-- <div class="col-md-3">
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label for="iform">Iform Number</mat-label>
          <input formControlName="iform_id" matInput id="iform" type="text">
        </mat-form-field>
      </div> -->

      <!-- <div class="col-md-3">
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label for="status">Status</mat-label>
          <input formControlName="status" matInput id="status" type="text">
        </mat-form-field>
      </div> -->


    <button mat-raised-button type="submit" color="primary" >Save</button>
   <!-- <button mat-raised-button type="submit" color="primary" (click)="onEdit(dept, received_date, username, cpu_sno, monitor_sno, keyboard_sno, mouse_sno, brand, user, issued_date, marked_no, remark, i_form_no, g_form_no)">Edit</button> -->
  </mat-card-content>
</mat-card>
</form>


<mat-card>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%">
        <ng-container matColumnDef="dept_id">
          <th mat-header-cell *matHeaderCellDef>
            Office :
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.dept_name}}
          </td>
        </ng-container>
        <ng-container matColumnDef="hardware_id">
          <th mat-header-cell *matHeaderCellDef>
              Hardware :
          </th>
          <td mat-cell *matCellDef="let element">
              {{element.h_name}}
          </td>
        </ng-container>
        <ng-container matColumnDef="received_date">
          <th mat-header-cell *matHeaderCellDef>
              Received Date :
          </th>
          <td mat-cell *matCellDef="let element">
              {{element.received_date | date}}
          </td>
        </ng-container>

        <ng-container matColumnDef="cpu_sno">
            <th mat-header-cell *matHeaderCellDef>
                CPU SNO :
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.cpu_sno}}
            </td>
        </ng-container>
        <ng-container matColumnDef="monitor_sno">
            <th mat-header-cell *matHeaderCellDef>
                Monitor SNO :
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.monitor_sno}}
            </td>
        </ng-container>
        <ng-container matColumnDef="keyboard_sno">
            <th mat-header-cell *matHeaderCellDef>
                Keyboard SNO :
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.keyboard_sno}}
            </td>
        </ng-container>
        <ng-container matColumnDef="mouse_sno">
            <th mat-header-cell *matHeaderCellDef>
                Mouse SNO :
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.mouse_sno}}
            </td>
        </ng-container>
        <ng-container matColumnDef="make_model_id">
            <th mat-header-cell *matHeaderCellDef>
                Make & Model :
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.brand_name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="iform">
          <th mat-header-cell *matHeaderCellDef>
              IForm No. :
          </th>
          <td mat-cell *matCellDef="let element">
              {{element.iform_id}}
          </td>
      </ng-container>

        <ng-container matColumnDef="status_id">
          <th mat-header-cell *matHeaderCellDef>
              Status :
          </th>
          <td mat-cell *matCellDef="let element">
              {{element.status_name}}
          </td>
      </ng-container>

        <!-- <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let row">
                   <button mat-raised-button color="accent" type="button" (click)="onEdit(row.dept, row.received_date, row.user_id, row.cpu_sno, row.monitor_sno, row.keyboard_sno, row.mouse_sno, row.brand_id, row.issued_to, row.issued_date, row.marked_no, row.remark, row.i_form_no, row.g_form_no,$event)">
                    <button mat-raised-button color="accent" type="button" (click)="onEdit(row.stock_id,$event);scrollToTop()">
                    <mat-icon>Delete</mat-icon>
                  </button>
              </td>
        </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
