.file-input {
    display: none;
  }
  pdf-viewer [_nghost-yme-c156] {
    position: revert !important;
  }
  
  pdf-viewer {
    position: revert !important;
  }

  .mat-header-cell {
    background: #2c3344bb;
    color: #f2f5f7;
    font-size: medium;
    //background: #2c3344;
  }
  