.full-width{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}

.form-container{
  margin: 0 px;
}
.mat-header-cell {
  background: #2c3344fa;
  color: #f2f5f7;
  font-size: medium;
  //background: #2c3344;
}

table {
  width: 100%;
}
.example-container {
  height: 450px;
  max-width: 100%;
  overflow: auto;
}